<div class="privacy-notice container">
    <h2>Política de Privacidad</h2>
    <p>
        En cumplimiento del Reglamento General de Protección de Datos (RGPD) y la Ley Orgánica de Protección de Datos y
        Garantía de los Derechos Digitales (LOPDGDD), le informamos que los datos personales que nos proporcione,
        incluidos los datos de salud como intolerancias, serán tratados por Federació de Les Fogueres de Sant Joan con
        la finalidad de
        participar en el proceso de elección de la Bellesa del Foc d'Alacant i les seues Dames d'Honor.
    </p>
    <p>
        La base jurídica para el tratamiento de sus datos personales es su consentimiento explícito, que puede retirar
        en cualquier momento. Sus datos personales no serán cedidos a terceros, salvo obligación legal.
    </p>
    <p>
        Puede ejercer sus derechos de acceso, rectificación, supresión, limitación del tratamiento, portabilidad y
        oposición enviando una solicitud a "asesorialegal&#64;hogueras.es". También tiene derecho a presentar una
        reclamación ante la Agencia Española de Protección de Datos (AEPD).
    </p>
    <p>
        Para más información sobre nuestra política de privacidad, por favor visite
        https://www.hogueras.es/politica-de-privacidad/ .
    </p>
</div>