<div class="container-fluid">
    <div class="d-flex justify-content-end mb-3">
        <button mat-button [matMenuTriggerFor]="menuInfantiles">Descargar</button>
        <mat-menu #menuInfantiles="matMenu">
            <button mat-menu-item (click)="download()">Todo</button>
            <button mat-menu-item (click)="download('informacionPersonal')">Información personal</button>
            <button mat-menu-item (click)="download('vidaEnFogueres')">Vida en fogueres</button>
            <button mat-menu-item (click)="download('academico')">Académico</button>
        </mat-menu>
    </div>
    <mat-tab-group dynamicHeight (selectedTabChange)="onTabChange($event)">
        <mat-tab label="Adultas">
            <div class="example-small-box mat-elevation-z4">
                <table mat-table [dataSource]="adultasData" class="mat-elevation-z8">
                    <!-- ID Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> ID </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>

                    <!-- Foguera Column -->
                    <ng-container matColumnDef="foguera">
                        <th mat-header-cell *matHeaderCellDef> Foguera </th>
                        <td mat-cell *matCellDef="let element"> {{element.foguera}} </td>
                    </ng-container>

                    @for(columna of columnasAdultas.slice(2); track $index) {
                    <ng-container matColumnDef="{{columna}}">
                        <th mat-header-cell *matHeaderCellDef>{{columnasAdultasText[$index + 2]}}</th>
                        <td mat-cell *matCellDef="let element; let j = index">
                            <div class="d-flex">
                                @if(element[columna] === 'Completo') {
                                <span class="d-flex text-verde aling-items-center">
                                    <mat-icon class="mr-2">check</mat-icon>
                                </span>
                                } @else {
                                <span class="d-flex text-rojo aling-items-center">
                                    <mat-icon class="mr-2">close</mat-icon>
                                </span>
                                }
                                <mat-icon class="ml-2" (click)="openDialog(adultas, columna, j)">visibility</mat-icon>
                            </div>
                        </td>
                    </ng-container>
                    }

                    <tr mat-header-row *matHeaderRowDef="columnasAdultas"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnasAdultas;"></tr>
                </table>
            </div>
        </mat-tab>
        <mat-tab label="Infantiles">
            <div class="example-large-box mat-elevation-z4">
                <table mat-table [dataSource]="infantilesData" class="mat-elevation-z8">
                    <!-- ID Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> ID </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>

                    <!-- Foguera Column -->
                    <ng-container matColumnDef="foguera">
                        <th mat-header-cell *matHeaderCellDef> Foguera </th>
                        <td mat-cell *matCellDef="let element"> {{element.foguera}} </td>
                    </ng-container>

                    @for(columna of columnasInfantiles.slice(2); track $index) {
                    <ng-container matColumnDef="{{columna}}">
                        <th mat-header-cell *matHeaderCellDef>{{columnasInfantilesText[$index + 2]}}</th>
                        <td mat-cell *matCellDef="let element; let j = index">
                            <div class="d-flex">
                                @if(element[columna] === 'Completo') {
                                <span class="d-flex text-verde aling-items-center">
                                    <mat-icon class="mr-2">check</mat-icon>
                                </span>
                                } @else {
                                <span class="d-flex text-rojo aling-items-center">
                                    <mat-icon class="mr-2">close</mat-icon>
                                </span>
                                }
                                <mat-icon class="ml-2"
                                    (click)="openDialog(infantiles, columna, j)">visibility</mat-icon>
                            </div>
                        </td>
                    </ng-container>
                    }
                    <tr mat-header-row *matHeaderRowDef="columnasInfantiles"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnasInfantiles;"></tr>
                </table>
            </div>
        </mat-tab>
    </mat-tab-group>

</div>