<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img [src]="currentImage" class="img-fluid rounded-start animated-image" alt="Foto bellesa"
                (click)="toggleImage()">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <div class="d-flex flex-column">
                    <span class="h6">{{candidataData.informacionPersonal.nombre.value}}</span>
                    <span>{{candidataData.vidaEnFogueres.asociacion.value}}</span>
                    <button class="mt-2 btn btn-primary btn-foc-naranja" (click)="viewDetails()">Ver detalles</button>
                </div>
            </div>
        </div>
    </div>
</div>