<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img [src]="currentImage" class="img-fluid rounded-start animated-image" alt="Foto bellesa"
                (click)="toggleImage()">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Nombre: {{candidataData.informacionPersonal.nombre.value}}</h5>
                <p class="card-text">Asociación: {{candidataData.vidaEnFogueres.asociacion.value}}</p>
                <button class="btn btn-primary btn-foc-rojo" (click)="viewDetails()">Ver detalles</button>
            </div>
        </div>
    </div>
</div>