@use "../../../variables" as *;

.formulario-container {
    overflow: auto;
    height: calc(100vh - 105px);
}

.steps {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.steps div {
    flex: 1;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 5px;
}

.steps .active {
    background-color: #007bff;
    color: white;
}

::ng-deep .mat-step-text-label {
    color: $rojo;
}

::ng-deep .mat-step-icon {
    background-color: $naranja !important;
}

::ng-deep .mat-step-icon-selected {
    background-color: $rojo !important;
}

::ng-deep .mat-mdc-radio-button.mat-accent.mat-mdc-radio-checked {
    color: #c4141c !important;
}

::ng-deep .mat-mdc-radio-button.mat-accent {
    --mat-radio-selected-focus-icon-color: #c4141c !important;
    --mat-radio-selected-hover-icon-color: #c4141c !important;
    --mat-radio-selected-icon-color: #c4141c !important;
    --mat-radio-selected-pressed-icon-color: #c4141c !important;
    --mat-radio-checked-ripple-color: #c4141c !important;
    --mat-radio-ripple-color: #c4141c !important;

    --mat-radio-disabled-selected-icon-color: #e3741c !important;
    --mat-radio-disabled-unselected-icon-color: #e3741c !important;
    --mat-radio-unselected-hover-icon-color: #e3741c !important;
    --mat-radio-unselected-icon-color: #e3741c !important;
    --mat-radio-unselected-pressed-icon-color: #e3741c !important;
}